@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme{
    --color-theme: #fab641;
    --color-black: #000000;
    --color-white: #ffffff;
    
    --color-softTheme: #fef8ec;
    --color-green: #1cc939;
    
        --font-sans: 'Exo 2', sans-serif;
}






/* Add this to your global CSS file or style tag */
.react-responsive-carousel .carousel .control-arrow {
    opacity: 1 !important;
    background: rgba(0,0,0,0.3) !important;
    height: 50px !important;
    width: 40px !important;
    margin-top: -25px !important;
    top: 50% !important;
    border-radius: 50% !important;
  }
  
  .react-responsive-carousel .carousel .control-arrow:hover {
    background: rgba(0,0,0,0.6) !important;
  }
  
  .react-responsive-carousel .carousel .control-arrow:before {
    margin: 0 5px !important;
  }